.contact__list {
  margin: 0 auto;
  /* border: 1px solid greenyellow; */
  width: 350px;

}

.contact__button {
  font-size: 14px;
  line-height: 1.15;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}



.contact__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


